Write a code to create a string with your name and print it?

In [2]:
my_name = "Simranjeet"
print(my_name)

Simranjeet

Write a code to find the length of the string "Hello World"

In [3]:
text = "Hello World"
length = len(text)
print(length)

11

Write a code to slice the first 3 characters from the string "Python Programming"?

In [4]:
text = "Python Programming"
sliced = text[:3]
print(sliced)

Pyt

Write a code to convert the string "hello" to uppercase

In [5]:
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [6]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

Write a code to create a list with numbers 1 to 5 and print it?

In [7]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

Write a code to append the number 10 to the list [1, 2, 3, 4]

In [8]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [9]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [10]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

Write a code to reverse the list [10, 20, 30, 40, 50].

In [11]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

 Write a code to create a tuple with the elements 100, 200, 300 and print it

In [12]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [13]:
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print(second_last)

blue

Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [14]:
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [15]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [18]:
fruits = ("apple", "banana", "orange", "kiwi")
is_kiwi_present = "kiwi" in fruits
print(is_kiwi_present)

True

 Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [21]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [22]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [23]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [24]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [25]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [28]:
person = {
    "name": "Simranjeet",
    "age": 25,
    "city": "indore"
}
print(person)

{'name': 'Simranjeet', 'age': 25, 'city': 'indore'}

Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [29]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [30]:
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [31]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [32]:
person = {'name': 'Alice', 'city': 'Paris'}
key_exists = 'city' in person
print(key_exists)

True

Write a code to create a list, a tuple, and a dictionary, and print them all.

In [33]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 30, 'city': 'Paris'}

# Printing them
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [34]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sort the list in ascending order
random_numbers.sort()

# Print the result
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [7, 54, 64, 79, 100]

 Write a code to create a list with strings and print the element at the third index

In [35]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at third index:", my_list[3])

Element at third index: date

Write a code to combine two dictionaries into one and print the result

In [36]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

Write a code to convert a list of strings into a set

In [37]:
string_list = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list)
print("Set:", string_set)

Set: {'banana', 'cherry', 'apple'}